In [ ]:
#Lakshya Sonawane PRN:25070123068
#Exp3: Study of tuple in python

In [ ]:
tpl = (2,True,4.0,"Lakshya")
print(tpl)

(2, True, 4.0, 'Lakshya')

In [ ]:
tpl2 = ("apple","banana","cherry")
print(tpl2[1])
print(tpl2[-2])

banana
banana

In [ ]:
tpl = ("apple",2,"cherry",2.5)
print(tpl[2:5])

('cherry', 2.5)

In [ ]:
tpl4 = (10,)*5
print(tpl4)

(10, 10, 10, 10, 10)

In [ ]:
a = ["Symbiosis",]*5
print(a)

['Symbiosis', 'Symbiosis', 'Symbiosis', 'Symbiosis', 'Symbiosis']

In [ ]:
tpl7 = ("apple","banana","cherry")
print("before:", id(tpl7))
tpl8 = ("kiwi" ,)
tpl7 += tpl8
print(tpl7)
print("after:", id(tpl7))

before: 134995893864320
('apple', 'banana', 'cherry', 'kiwi')
after: 134995203542208

In [ ]:
tpl7 = ["apple","banana","cherry"]
print("before:", id(tpl7))
tpl8 = ["kiwi" ,]
tpl7 += tpl8
print(tpl7)
print("after:", id(tpl7))

before: 134995467081920
['apple', 'banana', 'cherry', 'kiwi']
after: 134995467081920

In [19]:
marks = (90,82,66,76,33)
print(len(marks))
print(max(marks))
print(min(marks))
print(sum(marks))
print(sorted(marks))
print(sum(marks)/len(marks))

5
90
33
347
[33, 66, 76, 82, 90]
69.4

In [26]:
result = ("Maths" , 85 , "A+")

subject , marks , grade = result
print("Subject:",subject)
print("Marks:",marks)
print("Grade:",grade)

if marks >=75:
  print("Distinction")
else:
  print("No Distinction")

Subject: Maths
Marks: 85
Grade: A+
Distinction

In [35]:
attendance = ("P","A","P","P","P","A","A","P","P","P")
b = attendance.count("P")
c = attendance.count("A")
print("Total no. of Present days:",b)
print("Total no. of Absent days:",c)

if "A" in attendance:
  print("Employee was absent at least once")

Total no. of Present days: 7
Total no. of Absent days: 3
Employee was absent at least once